<main>
  <header class="brand-header">
    <a [routerLink]="['/']" class="brand-link">
      <!-- <img class="brand-logo" src="/assets/logo.svg" alt="logo" /> -->
      <span class="brand-name">Home</span>
    </a>

    <nav class="nav-links">
      @if (authService.accessRole() === 'admin' && authService.isLogin()) {
      <a [routerLink]="['/addProduct']" class="nav-link">Add Product</a>
      }
      @if (!authService.isLogin()) {
      <a [routerLink]="['/loginOrSignUp']" class="nav-link">Login/SignUp</a>
      }
      <a [routerLink]="['/cart']" class="nav-link cart-link">
        <!-- <img src="/assets/cart.svg" alt="Cart" class="cart-icon" /> -->
        <i class="fas fa-shopping-cart cart-icon"></i>
      </a>

      <div class="user-menu nav-link">
        <i class="fas fa-user-circle user-icon" (click)="toggleDropdown()"></i>
        <div class="dropdown-menu" [class.show]="dropdownVisible()">
          <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
          <a class="dropdown-item" [routerLink]="['/settings']">Settings</a>
          @if (authService.isLogin()) { <a class="dropdown-item" (click)="logout()">Log Out</a>}
        </div>
      </div>
    </nav>
  </header>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
