<section>
  <form>
    <input type="text" placeholder="Search for your product" #filter />
    <button class="primary" type="button" (click)="filterResults(filter.value)">
      Search
    </button>
  </form>
</section>
<section class="results">
  @defer {
    @for (product of productList; track product.id) {
       <app-products-view [product]="product"></app-products-view>
    } 
  } @placeholder (minimum 1s) {
    <div>
      <p-progress-spinner ariaLabel="loading" />
  </div>
  } @error {
    <p>Failed to Load content! Something went wrong</p>
  }
 
</section>
